<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>brewer: your friendly tea tracker!</title>
    <script src="http://twemoji.maxcdn.com/twemoji.min.js"></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body style="background-color: #c2c2c2">
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="sign_in">Sign In</a>
                    </li>
                    <li role="presentation"><a href="sign_up">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">brewer, tea made awesome!</h3>
        </div>

        <div class="jumbotron" style="background-color: #5e5e5e;">
            <h1>Brewer: Tea Tracker</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="sign_up" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Make drinking tea exciting!</h4>
                <p>Now you can track your tea purchase and intake, all in one place! No more impulse tea-buying!</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Get bragging rights!</h4>
                <p>You can find cool stats about your tea intake. Imagine telling your friends that
                    you just drank 7 liters of black tea last month! How cool is that!</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Dana 2016</p>
        </footer>
 
    </div>
</body>
 
</html>